.title__feature h2 {
    color: #fdfffa;
    font-size: 3.8em;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 0 1.25em;
    text-align: center;
    text-transform: uppercase;
}

.title__feature h2::after {
    background: #dedede none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    margin: 0.31225em auto 0;
    position: relative;
    width: 100px;
}

.feature__container {
    background: #6f9600 none repeat scroll 0 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 6em 2em;
}

.icon__container i {
    background: none repeat scroll 0 0 #fff;
    border-radius: 80px;
    color: #6f9600;
    display: block;
    float: left;
    font-size: 1.8em;
    height: 80px;
    line-height: 80px;
    margin-right: 0.625em;
    text-align: center;
    width: 80px;
}

.feature__items {
    display: flex;
}

.feature__text h3 {
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

.feature__left-wrapper {
    display: block;
}

.feature__right-wrapper,
.feature__left-wrapper {
    text-align: left;
}

.item__feature {
    display: flex;
}

.feature__description p {
    font-size: 0.83em;
    color: #fff;
}

.feature__container-wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

@media screen and (max-width: 769px){
.feature__items {
    flex-wrap: wrap;
}

    .item__feature {
        flex: 1 1 40%;
        margin: 8px;
    }
}

@media screen and (max-width: 580px) {
    .item__feature {
        flex: 100%;
    }
}