.dots__carousel {
    background: none repeat scroll 0 0 rgba(0, 40, 58, 0.53);
    bottom: 0;
    margin: 0;
    padding: 0.625em 0;
    position: absolute;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.dot__item-carousel {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 3px solid rgba(0, 40, 58, 0.57);
    height: 18px;
    margin: 0 0.3125em;
    opacity: 1;
    width: 18px;
    cursor: pointer;
    border-radius: 20px;
}

.dots__carousel .active  {
    background: none repeat scroll 0 0 #92c500;
}

.slider__item img {
    max-width: none;
    width: 100%;
}

.arrow__container {
    display: flex;
}

.arrow {
    background: none repeat scroll 0 0 #00283a;
    cursor: pointer;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 1px;
    text-align: center;
    width: 30px;
}

.title__slide h2 {
    background: none repeat scroll 0 0 rgba(146, 197, 0, 0.8);
    color: #fff;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 1px 0;
    max-width: 600px;
    padding: 10px 20px;
    width: 100%;
    text-align:left;
}

.description__slide p {
    background: none repeat scroll 0 0 #00283a;
    color: #fff;
    max-width: 600px;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
}

.slider__content {
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 253px;
}

.slider__item {
    position: relative;
}

.slider__content-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 769px){
.slider__content {
    top: 100px;
}
}

@media screen and (max-width: 767px){
    .slider__content {
        display: none;
    }
    .navigation__items {
        display: none;
    }
}
