.about__item .icon__tablet_container{
    background: none repeat scroll 0 0 #92c500;
    border-radius: 100px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3) inset;
    color: #fff;
    display: inline-block;
    font-size: 2em;
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 100px;
}

.heading__tablet_item h2 {
    font-size: 1em;
    font-weight: 600;
    margin: 1.25em 0;
    color: #444;
    text-transform: uppercase;
}

.about__items-wrapper {
    display: flex;
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 6em 2em;
    position: relative;
    text-align: center;
    z-index: 2;
}



.description__tablet > p {
    color: #777;
    font-size: 0.85em;
    line-height: 1.5em;
}

.description__heart > p {
    color: #777;
    font-size: 0.85em;
    line-height: 1.5em;
}

.description__design > p {
    color: #777;
    font-size: 0.85em;
    line-height: 1.5em;
}

.description__star > p {
    color: #777;
    font-size: 0.85em;
    line-height: 1.5em;
}

.items__container {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px){
    .items__container {
        flex-wrap: wrap;
    }
   .about__item {
       flex: 50%;
   }
}

@media screen and (max-width: 767px){
    .about__item {
        flex: 100%;
    }
}