.services__container {
    display: flex;
}

.service_link__item i {
    border: 2px solid #92c500;
    border-radius: 100px;
    color: #92c500;
    display: block;
    float: left;
    font-size: 1.6em;
    height: 60px;
    cursor: pointer;
    line-height: 60px;
    margin-right: 0.625em;
    text-align: center;
    width: 60px;
}

.service__right {
    background: none repeat scroll 0 0 #00283a;
}

.service__title h2 {
    font-size: 4em;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 0.9;
    margin: 0 0 0.625em 0;
    color: #fff;
    text-align: left;
}

.service__description p {
    color: #fff;
    font-size: 0.85em;
    opacity: 0.7;
    text-align: left;
}

.service-img__container img {
    display: block;
    height: 100%;
    max-width: none;
    min-width: 100%;
    width: auto;
}

.service__left,
.service__right {
    flex: 1 1 50%;
}

.service__left {
    overflow: hidden;
}

.service-links__container {
  display: flex;
    margin-top: 2em;
}

.service__wrapper {
    padding: 4rem;
}

@media screen and (max-width: 800px){
    .services__container {
        flex-wrap: wrap;
    }

    .service__left,
    .service__right {
        flex: 100%;
    }

    .service__wrapper {
        padding: 4em;
    }
}

@media screen and (max-width: 350px){
    .service__wrapper {
        padding: 2em;
    }
}
