.news__container {
    background: #f3f3f3 none repeat scroll 0 0;
    box-shadow: 0px -10px 9px -11px rgba(0, 0, 0, 0.5);
    padding: 6em 2em;
    position: relative;
    z-index: 3;
}

.news__container-wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.title__news h2 {
    color: #dedede;
    font-size: 3.8em;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 0 1.25em;
    text-align: center;
    text-transform: uppercase;
}

.title__news h2::after {
    background: #dedede none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    margin: 0.31225em auto 0;
    position: relative;
    width: 100px;
}

.news__items {
    display: flex;
}

.item__news_wrapper {
    display: flex;

}

.day__post p {
    font-size: 2.5em;
    font-weight: 700;
    color:#fff;
}

.month__post p,
.year__post p {
    color: #fff;
    font-size: 0.85em;
}

.news__description-post {
    text-align: left;
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    min-height: 118px;
    padding: 0.625em 1.25em;
}

.news__data-post {
    min-height: 118px;
    padding: 0.625em 0;
    text-align: center;
    width: 100%;
    background: #6f9600 none repeat scroll 0 0;
    color: #fff;
}

.news__item-left {
    flex: 1 1 18%;
}

.news__item-right {
    flex: 1 1 95%;
}

.title__post h4 {
    font-size: 1.2em;
    color: #444;
    font-weight: normal;
    margin: 0.2em 0 0.2em 0;
}

.description__post p {
    color: #777;
    font-size: 0.85em;
}

.location__data-wrapper {
    margin-left: 25px;
}

.item__news {
    margin: 10px;
}

@media screen and (max-width: 769px){
    .item__news_wrapper {
        flex-direction: column;
    }
}


@media screen and (max-width: 580px){
    .item__news {
        flex: 100%;
    }

    .news__items {
        flex-wrap: wrap;
    }
}