.title__work h2 {
    color: #dedede;
    font-size: 3.8em;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 0 1.25em;
    text-align: center;
    text-transform: uppercase;
}

.title__work h2::after {
    background: #dedede none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    margin: 0.31225em auto 0;
    position: relative;
    width: 100px;
}

.work__item img {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%;
    width: auto;
}

.content__items {
    display: flex;
}

.work__item {
    margin: 9px;
}

.our__work-wrapper {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    padding: 6em 2em;
    position: relative;
    z-index: 2;
    flex-direction: column;
}



.rc-tabs-top .rc-tabs-bar {
    border-bottom: none !important;
}

.rc-tabs-tab {
    background: #00283a none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 1.2em;
    padding: 0.625em 1.25em;
    margin-right: 2px !important;
}

.rc-tabs-tab:hover {
    background: #92c500;
    color: #fff !important;
}

.rc-tabs-tab-active {
    background: #92c500;
    color: #fff !important;
}

.work__container-wrapper {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 769px){
    .rc-tabs-bar {
        flex-wrap: wrap;
    }

    .rc-tabs-tab {
        width: 82.4%;
        margin: 1px;
        text-align: left;
    }

    .content__items {
        flex-wrap: wrap;
    }
    .work__item {
        flex: 1 1 35%;
    }
}

@media screen and (max-width: 580px){

    .work__item {
        flex: 1 1 100%;
        display: flex;
        justify-content: center;
    }

}