.heading__container {
    background: none repeat scroll 0 0 #012232;
    border-bottom: 1px solid #001925;
    padding: 0.3125em 0;
}

.header-contact__information {
    color: #fff;
    font-size: 0.75em;
    opacity: 0.5;
    position: relative;
    top: 2px;
}

.heading__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contact__socials {
    color: #ffffff;
    font-size: 1.1em;
    opacity: 0.5;
    transition: all 0.20s linear 0s;
}

.logo__page p  strong{
    font-weight: 700;
    margin: 0;
}

.logo__page {
    color: #fff;
    font-size: 1.7em;
    font-weight: 300;
    position: relative;
    text-transform: uppercase;
}

.container__navigation {
    background: none repeat scroll 0 0 #00283a;
    padding: 1.4rem;
}

.navigation {
    max-width: 1140px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
}

.navigation li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.77em;
    font-weight: 600;
    padding: 2.1em 1.5em 2.5em;
    text-transform: uppercase
}

.navigation li {
    list-style-type: none;
}

.navigation__items {
    display: flex;
}

.google__plus {
    margin-left: 5px;
}

@media screen and (max-width: 480px){
    .heading__wrapper {
        flex-direction: column;
    }
}