.title__contact h2 {
    color: #dedede;
    font-size: 3.8em;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 0 1.25em;
    text-align: center;
    text-transform: uppercase;
}

.title__contact h2::after {
    background: #dedede none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    margin: 0.31225em auto 0;
    position: relative;
    width: 100px;
}

.contact__container {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 6em 2em;
    position: relative;
    z-index: 2;
}

.contact__container-wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.title__company h3 {
    color: #92c500;
    font-size: 1em;
    font-weight: 700;
    margin: 0 0 0.625em;
    text-transform: uppercase;
}

.link__icon i {
    background: #e0e0e0 none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    line-height: 26px;
    margin: 0.625em;
    text-align: center;
    width: 26px;
}

.social__link a {
    text-decoration: none;
    color: #444;
}

.location__contact {
    display: flex;
}

.img__office img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}
.img__office {
    width: 270px;
}

.social__icon_wrapper {
    display: flex;
    align-items: center;
}

.social__company {
    text-align: left;
    margin-top: 25px;
}

.position__location {
    text-align: left;
}

.data__company {
    font-size: 0.85em;
    font-style: normal;
    line-height: 2em;
}

.title__form h3 {
    color: #92c500;
    font-size: 1em;
    font-weight: 700;
    margin: 0 0 0.625em;
    text-transform: uppercase;
    text-align: left;
}

.contact__data {
    display: flex;
}

form.customform .color-btn {
    background: none;
    border: 1px solid #001925;
    border-radius: 3px;
    color: #001925;
    display: block;
    font-size: 0.85em;
    width: 33.3%;
    padding: 0.625em 1.25em;
    transition: all 0.20s linear 0s;
}

.contact__left-location {
    flex: 1 1 50%;
}

.contact__right-form {
    flex: 1 1 30%;
}

@media screen and (max-width: 769px){
    .img__office {
        display: none;
    }

    .contact__data {
        flex-direction: column;
    }

    .location__data-wrapper {
        margin-left: 0px;
    }

    .contact__form-wrapper {
        margin-top: 30px;
    }

    form.customform .color-btn {
        width: 100%;
    }
}