.footer__container {
    background: none repeat scroll 0 0 #00283a;
    padding: 3.5em 0;
}

.footer__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer__content-right a {
    color: #474d50;
    font-size: 0.8em;
    text-decoration: none;
}

.prescription__design p {
    color: #6c7c84;
    text-align: left;
    font-size: 0.8em;
}

@media screen and (max-width: 769px){
 .footer__wrapper {
     flex-direction: column;
     align-items: flex-start;
 }
}