.description__wrapper {
    background: none repeat scroll 0 0 #00283a;
    padding: 3em 2em;
    text-align: center;
}

.description__heading h1 {
    color: #fff;
    font-size: 2em;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0.4em;
}

.description__text p {
    color: #6c7c84;
    font-size: 0.85em
}


.description__button {
    display: flex;
    justify-content: center;
}

.contactUs {
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 0.85em;
    margin-top: 1.25em;
    width: 186px;
    outline: none;
    cursor: pointer;
    height: 38px;
    transition: all 0.20s linear 0s;
    background: #fff0;
}